.Home {
    margin: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 5.25rem);
    border-bottom: 0.15rem solid var(--trim);
}

.card {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--light-brown);
    width: 90rem;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.column h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    height: 0.1rem;
    border: 0.1rem solid var(--light-green);
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 50%;
}