/* .Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    border-bottom: 1px solid var(--trim);
    background-color: var(--light-brown);
}

.Navbar > a {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    color: white !important;
    padding: 0.5vh;
    height: 4vh;
}

.divider {
    width: 2px;
    height: 5vh;
    background-color: var(--trim);
    margin: 0 2.5vw;
} */

.logo {
    height: 60px;
    border-radius: 30px;
}

.Navbar {
    padding: 0;
    height: 7vh;
    font-size: large;
    position: fixed;
}

.navContainer {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
    z-index: 1 !important;
}

.navDrop {
    /* background-color: rgba(0, 0, 0, 0.75) !important; */
}

.navFlex {
    margin: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;

}

#responsive-navbar-nav {
    width: 800px !important;
}