:root {
  --main-bg-color: #f0ead2;
  --light-green: #dde5b6;
  --dark-green: #adc178;
  --light-brown: #a98467;
  --dark-brown: #6c584c;
}

.App {
  background-color: var(--main-bg-color);
  width: 100vw;
  height: 100vh;
}