@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,300&display=swap');

:root {
  font-size: 16px;
  --main-bg-color: #bababa;
  --light-green: #85ad4f;
  --light-green-transparent: #85ad4f90;
  --dark-green: #285e45;
  --light-brown: #a98467;
  --dark-brown: #6c584c;
  --trim: rgb(86, 86, 86);
}

* {
  font-family: 'Chivo Mono', monospace;
}

body {
  background: linear-gradient(#7d9460 0%, var(--dark-brown) 100%);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--trim);
}

body::-webkit-scrollbar-thumb {
  background: var(--light-green);
}

.components {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component {
  margin: 5rem 0 0 0;
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100vw - 5.25rem);
  background-color: var(--trim);
  width: 90rem;
}

.App {
  margin-bottom: 10rem;
}